<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
  <head>
    <meta name="google-site-verification" content="4pWrJdQwHYueoO3Fml_ln0-Auc4gFc8Ahw61IlmIUfs" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    {% include head.html %}
    {% include mathjax.html %}

  </head>


  <body>
    <div class="site-container">
      <header class="site-header">
        {% include header.html %}
      </header>
      
      <div class="site-body wrapper">
        <aside class="site-sidebar" id="site-sidebar">
          {% if page.toc %}
            {% include sidebar-toc.html %}
          {% else %}
            {% include sidebar.html %}
          {% endif %}
        </aside>
        <main class="site-main" id="site-main" aria-label="Content" tabindex="1">
          {{ content }}
          <footer class="site-footer">
            {% include footer.html %}
          </footer>
        </main>
      </div>
    </div>
  </body>

</html>
